<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

		<!--  -->
        <!--meta th:name="_csrf" th:content="${_csrf.token}"/>
		<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/-->
	    <!-- ... -->
	    
        <title>Supplier Registration Portal</title>

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="assets/img/favicons/favicon.png">

        <link rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="assets/img/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="assets/img/favicons/favicon-192x192.png" sizes="192x192">

        <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

		<!--Start fontawesome css-->
		<link href="../assets/css/fontawesome.css" rel="stylesheet" />
		<link href="../assets/css/brands.css" rel="stylesheet" />
		<link href="../assets/css/solid.css" rel="stylesheet" />
			<!--End fontawesome css-->
        <!-- OneUI CSS framework -->
        <link rel="stylesheet" id="css-main" href="../assets/css/oneui.css">

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <link rel="stylesheet" id="css-theme" href="../assets/css/themes/city.min.css"> 
        <!-- END Stylesheets -->
    </head>
    <body>
        <!-- Page Container -->
        <div id="page-container">            
            <!-- Main Container -->
            <main id="main-container">
                <!-- Hero Content -->
                <div class="bg-default-light">
                    <section class="content content-full content-boxed overflow-hidden">
                        <!-- Section Content -->
                        <div class="push-70-t push-10 text-center">
                            <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Botswana Central Medical Stores</h1>
                            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Log in to your account</h2>
                        </div>
                        <div class="row visibility-hidden" data-toggle="appear" data-class="animated fadeInUp">
                            <div class="col-sm-2 col-sm-offset-5">
                                <img class="img-responsive pull-b" src="assets/images/logo.png" alt="">
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Hero Content -->

                <!-- Log In Form -->
                <div class="bg-white">
                    <section class="content content-boxed">
                        <!-- Section Content -->
                        <div class="row items-push push-10">
                            <div class="col-md-6 col-md-offset-3">
								<!-- END Login Title -->
								<p th:if="${loginError}" class="text-danger">Wrong user or password</p>
	                            <!-- Login Form -->
                                <form class="js-validation-login form-horizontal push-10-t push-20" action="#" th:action="@{/login}" method="post" enctype="application/x-www-form-urlencoded">
                                    <div class="form-group">
                                        <div class="col-xs-12">
											<div class="form-material form-material-info floating">
	                                            <input class="form-control" type="text" id="username" name="username">
	                                            <label for="username">Username</label>
	                                        </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
											<div class="form-material form-material-info floating">
	                                            <input class="form-control" type="password" id="password" name="password">
	                                            <label for="password">Password</label>
	                                        </div>
                                        </div>
                                    </div>
                                    <!--div class="form-group">
                                        <div class="col-xs-12 text-center">
                                            <label class="css-input switch switch-sm switch-primary">
                                                <input type="checkbox" id="frontend-login-remember-me" name="frontend-login-remember-me"><span></span> Remember Me?
                                            </label>
                                        </div>
                                    </div-->
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                            <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-arrow-right pull-right"></i> Log in</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Log In Form -->

                <!-- Sign Up Today -->
                <div class="bg-gray-lighter">
                    <section class="content content-full content-boxed">
                        <!-- Section Content -->
                        <div class="push-20-t push-20 text-center">
                            <h3 class="h4 push-20 visibility-hidden" data-toggle="appear">Don’t have an account?</h3>
                            <a class="btn btn-rounded btn-noborder btn-lg btn-success visibility-hidden" data-toggle="appear" data-class="animated bounceIn" href="/profile/register">Sign Up Today</a>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Sign Up Today -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="bg-white">
                <div class="content content-boxed">
                    <!-- Footer Navigation -->
                    <div class="row push-30-t items-push-2x">
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Company</h3>
                            <ul class="list list-simple-mini font-s13">
                                <li>
                                    <a class="font-w600" href="#">Home</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="#">Features</a>
                                </li>                                
                                <li>
                                    <a class="font-w600" href="#">About Us</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Support</h3>
                            <ul class="list list-simple-mini font-s13">                                
                                <li>
                                    <a class="font-w600" href="#">Support Center</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="javascript:void(0)">Privacy Policy</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="javascript:void(0)">Terms &amp; Conditions</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Get In Touch</h3>
                            <div class="font-s13 push">
                                <strong>Botswana, Central Medical Stores.</strong><br>
                                24 Amos Street, Plot 54069<br>
                                Dzibanene, Gaborone<br>
                                <abbr title="Phone">P:</abbr> (267) 390-4014
                            </div>
                            <div class="font-s13">
                                <i class="si si-envelope-open"></i> info@bcms.go.bw
                            </div>
                        </div>
                    </div>
                    <!-- END Footer Navigation -->

                    <!-- Copyright Info -->
					<div th:replace="fragments/footer::footer-frontend"></div>
                    <!-- END Copyright Info -->
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src="assets/js/core/jquery.min.js"></script>
        <script src="assets/js/core/bootstrap.min.js"></script>
        <script src="assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="assets/js/core/jquery.appear.min.js"></script>
        <script src="assets/js/core/jquery.countTo.min.js"></script>
        <script src="assets/js/core/jquery.placeholder.min.js"></script>
        <script src="assets/js/core/js.cookie.min.js"></script>
        <script src="assets/js/app.js"></script>
		
		<!-- Page JS Plugins -->
        <script src="../assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>

		<!-- Page JS Code -->
		<script src="assets/js/pages/base_pages_login.js"></script> 

        <!-- Page JS Code -->
        <script>
            $(function () {
                // Init page helpers (Appear plugin)
                App.initHelpers('appear');
            });
        </script>
    </body>
</html>