<!DOCTYPE html>
<html class="no-focus" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Supplier Registration Portal</title>
</head>
<body>
	<div th:fragment="content">
		<footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix noprint">
             <div class="pull-right">
                 Crafted with <i class="fa fa-heart text-city"></i> by <span class="font-w600">SoftClans LTD</span>
             </div>
             <div class="pull-left">
                 <span class="font-w600 text-primary">Supplier Registration Portal 1.0</span> &copy; <span class="js-year-copy text-primary"></span>
             </div>
         </footer>	
	</div>
	<div th:fragment="footer-frontend">
		<footer id="page-footer" class="bg-white">
            <div class="content content-boxed">
                <!-- Footer Navigation -->
                <div class="row push-30-t items-push-2x">
                    <div class="col-sm-4">
                        <h3 class="h5 font-w600 text-uppercase push-20">Company</h3>
                        <ul class="list list-simple-mini font-s13">
                            <li>
                                <a class="font-w600" href="/">Home</a>
                            </li>                                                            
                            <li>
                                <a class="font-w600" href="#">About Us</a>
                            </li>
                            <li>
                                <a class="font-w600" href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="h5 font-w600 text-uppercase push-20">Support</h3>
                        <ul class="list list-simple-mini font-s13">                                
                            <li>
                                <a class="font-w600" href="#">Support Center</a>
                            </li>
                            <li>
                                <a class="font-w600" href="javascript:void(0)">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="font-w600" href="javascript:void(0)">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="h5 font-w600 text-uppercase push-20">Get In Touch</h3>
                        <div class="font-s13 push">
                            <strong>Botswana, Central Medical Stores.</strong><br>
                            24 Amos Street, Plot 54069<br>
                            Dzibanene, Gaborone<br>
                            <abbr title="Phone">P:</abbr> (267) 390-4014
                        </div>
                        <div class="font-s13">
                            <i class="si si-envelope-open"></i> info@bcms.go.bw
                        </div>
                    </div>
                </div>
                <!-- END Footer Navigation -->

                <!-- Copyright Info -->				
				<div class="font-s12 push-20 clearfix">
                    <hr class="remove-margin-t">
					<div class="pull-right">
		                 Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="#" target="_blank">SoftClans LTD</a>
		             </div>
		             <div class="pull-left">
		                 <span class="font-w600 text-primary">Supplier Registration Portal 1.0</span> &copy; <span class="js-year-copy text-primary"></span>
		             </div>
                </div>
                <!-- END Copyright Info -->
            </div>
        </footer>
	</div>
</body>
</html>