<!DOCTYPE html>
<html class="no-focus" xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="ISO-8859-1">
		<title>Supplier Registration Portal</title>
	</head>
	<body>
		<!-- Terms Modal -->
		<div th:fragment="content">
			<div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-hidden="true">
	            <div class="modal-dialog modal-dialog-popin">
	                <div class="modal-content">
	                    <div class="block block-themed block-transparent remove-margin-b">
	                        <div class="block-header bg-primary-dark">
	                            <ul class="block-options">
	                                <li>
	                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                                </li>
	                            </ul>
	                            <h3 class="block-title">Terms &amp; Conditions</h3>
	                        </div>
	                        <div class="block-content">
	                            <h4 class="push-10">1. <strong>General</strong></h4>
	                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
	                            <h4 class="push-10">2. <strong>Account</strong></h4>
	                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
	                            <h4 class="push-10">3. <strong>Service</strong></h4>
	                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
	                            <h4 class="push-10">4. <strong>Payments</strong></h4>
	                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
	                        </div>
	                    </div>
	                    <div class="modal-footer">
	                        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
	                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>        
        <!-- END Terms Modal -->
	</body>
</html>