<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Supplier Registration Portal</title>
</head>
<body>
	<div th:fragment="sidebar">
		<nav id="sidebar">
                <!-- Sidebar Scroll Container -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
                    <div class="sidebar-content">
                        <!-- Side Header -->                        
                        <div class="h2 font-w400 push-5 side-header side-content bg-image overflow-hidden" style="background-image: url('../assets/images/logo.png');background-size: contain;">&nbsp;</div>
                        <!-- END Side Header -->
						<div>&nbsp;</div>
						<div>&nbsp;</div>
                        <!-- Side Content -->
                        <div th:replace="fragments/sidecontent::content"></div>
                        <!-- END Side Content -->
                    </div>
                    <!-- Sidebar Content -->
                </div>
                <!-- END Sidebar Scroll Container -->
        </nav>
	</div>
</body>
</html>