<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Supplier Registration Portal</title>
</head>
<body>

	<div th:fragment="content">
		<div class="side-content">
             <ul class="nav-main">
                 <li>
                     <a class="active" href="/"><i class="si si-home"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                 </li>
                 <li>
                     <a href="#"><i class="fa fa-file-pdf-o"></i><span class="sidebar-mini-hide">Contracts</span></a>
                 </li>
                 <li>
                     <a href="#"><i class="fa fa-truck"></i><span class="sidebar-mini-hide">Deliveries</span></a>
                 </li>
				 <li>
	                 <a href="#"><i class="fa fa-list"></i><span class="sidebar-mini-hide">Invoices & Payments</span></a>
	             </li>
                 <!-- Start Sub-Menu 4 -->
                 <li class="nav-main-heading"><span class="sidebar-mini-hide">Admin</span></li>
                 <li>
                     <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-cogs"></i><span class="sidebar-mini-hide">Settings</span></a>
                     <ul>
                         <li>
                             <a href="#">User Titles</a>
                         </li>
                         <li>
                             <a href="#">User Roles</a>
                         </li>                        
                     </ul>
                 </li>
                 <li>
                 <a href="#"><i class="si si-users"></i><span class="sidebar-mini-hide">User Management</span></a>
                 </li>
                 <!-- Start Sub-Menu 4 -->
             </ul>
         </div>	
	</div>

</body>
</html>