<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="ISO-8859-1">
	<title>Supplier Registration Portal</title>
	
</head>
<body>

	<div th:fragment="content">
		<!--div th:if="${#httpServletRequest.requestURI == '/example/WEB-INF/views/inbox.jsp'}">
		some content
		</div-->
		<div class="side-content">
             <ul class="nav-main">
                 <li>
                     <a class="active" th:href="@{/dashboard}"><i class="fa-solid fa-home"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                 </li>
				 <li>
	                 <a th:href="@{/alerts/index}"><i class="fa-solid fa-bell"></i><span class="sidebar-mini-hide">Alerts</span></a>
	             </li>
                 <li>
                     <a th:href="@{/contracts/index}"><i class="fa-solid fa-file-contract"></i><span class="sidebar-mini-hide">Contracts</span></a>
                 </li>
				 <li>
                     <a th:href="@{/loc/index}"><i class="si si-envelope-letter"></i><span class="sidebar-mini-hide">LOC</span></a>
                 </li>
				 <li>
	                 <a th:href="@{/purchaseOrders/index}"><i class="fa fa-shopping-cart"></i><span class="sidebar-mini-hide">Purchase Orders</span></a>
	             </li>
                 <li>
                     <a th:href="@{/deliveries/index}"><i class="fa-solid fa-truck-fast"></i><span class="sidebar-mini-hide">Delivery Bookings</span></a>
                 </li>
				 <li>
	                 <a th:href="@{/#}"><i class="fa-solid fa-receipt"></i><span class="sidebar-mini-hide">Invoices</span></a>
	             </li>
				 <li>
 	                 <a th:href="@{/#}"><i class="fa-solid fa-money-check-dollar"></i><span class="sidebar-mini-hide">Payments</span></a>
 	             </li>
				 <li>
 	                 <a href="#"><i class="fa-solid fa-star"></i><small class="sidebar-mini-hide">Supplier Performance</small></a>
 	             </li>
				 <li>
 	                 <a href="#"><i class="fa fa-line-chart"></i><small class="sidebar-mini-hide">Contract Performance</small></a>
 	             </li>
                 <!-- Start Sub-Menu 4 -->
                 <li class=""><span class="sidebar-mini-hide">&nbsp;</span></li>
                 <!--li>
             		<a href="#"><i class="fa-solid fa-user"></i><span class="sidebar-mini-hide">My Profile</span></a>
                 </li-->
                 <!-- Start Sub-Menu 4 -->
             </ul>
         </div>	
	</div>

</body>
</html>