<script th:inline="javascript">
/*<![CDATA[*/
	document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    
    var events = [];
    var theList = [[${deliveries}]];
    var count=0;
  	var i;
  	for (i = 0; i < theList.length; i++) 
  	{
  	    count++;
  		       
        var TODAY = new Date(theList[i]['deliveryDate']);
        
        var COLOR= '';
    	var curDate = new Date();
    	if(curDate>TODAY)
    	{
    		COLOR = theList[i]['completed']?'GREEN':'RED'  		
    	}else{
    		COLOR = theList[i]['completed']?'GREEN':''
    	}
        
    	var DD = String(TODAY.getDate()).padStart(2,'0');
    	var MM = String(TODAY.getMonth() + 1).padStart(2,'0');
    	var YYYY = TODAY.getFullYear();
    	TODAY = YYYY+'-'+MM+'-'+DD;
    	
  		var obj = {
  			    title: 'Delivery#: ' + theList[i]['deliveryNo'],
  			    description: 'Delivery of ' + theList[i]['productDescription'] +' ('+ theList[i]['productCode'] + ').',
  			    start: TODAY+'T'+theList[i]['deliveryTime'],
  	          	end: TODAY+'T23:30:00',
  	          	color: COLOR,
  			    //allDay: true,
  			  	url: '/deliveries/view?id='+theList[i]['id']
  			};
  		events.push(obj);
  	}
    
    var today = new Date();
	var dd = String(today.getDate()).padStart(2,'0');
	var mm = String(today.getMonth() + 1).padStart(2,'0');
	var yyyy = today.getFullYear();
	today = yyyy+'-'+mm+'-'+dd;

    var calendar = new FullCalendar.Calendar(calendarEl, {
	  
	  headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'multiMonthYear,dayGridMonth,timeGridWeek'
      },
	  initialView: 'multiMonthYear',
      initialDate: today,
      editable: false,
      selectable: true,
      dayMaxEvents: true, // allow "more" link when too many events
      //multiMonthMaxColumns: 1, // guarantee single column
      showNonCurrentDates: true,
      fixedWeekCount: false,
      businessHours: true,
      weekends: true,
      eventDidMount: function(info) 
	  {
    	  console.log('Did mount....');
      	  var tooltip = new Tooltip(info.el, {
          title: info.event.extendedProps.description,
          placement: 'top',
          trigger: 'hover',
          container: 'body'
        });
      },
      
      events: events
      
    });

    calendar.render();
  });
/*]]>*/
</script>