<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html class="no-focus" xmlns:th="http://www.thymeleaf.org" lang="en"> 
<!--<![endif]-->
    <head>
        <meta charset="utf-8">

 		<!--  -->
        <!--meta th:name="_csrf" th:content="${_csrf.token}"/>
		<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/-->
	    <!-- ... -->
	    
        <title>Supplier Registration Portal</title>

        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="../assets/img/favicons/favicon.png">

        <link rel="icon" type="image/png" href="../assets/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../assets/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../assets/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="../assets/img/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="../assets/img/favicons/favicon-192x192.png" sizes="192x192">

        <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
		<!--Start fontawesome css-->
		<link href="../assets/css/fontawesome.css" rel="stylesheet" />
		<link href="../assets/css/brands.css" rel="stylesheet" />
		<link href="../assets/css/solid.css" rel="stylesheet" />
			<!--End fontawesome css-->
        <!-- OneUI CSS framework -->
        <link rel="stylesheet" id="css-main" href="../assets/css/oneui.css">

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <link rel="stylesheet" id="css-theme" href="../assets/css/themes/city.min.css"> 
        <!-- END Stylesheets -->
    </head>
    <body>
        <!-- Page Container -->
        
        <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
            <!-- Side Overlay-->
            
            <!-- END Side Overlay -->

            <!-- Sidebar -->
            <div th:replace="~{fragments/sidebar::sidebar}"></div>
            <!-- END Sidebar -->

            <!-- Header -->
            <div th:replace="~{fragments/header::content}"></div>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Header -->
                <div class="content bg-image overflow-hidden" style="background-color: #09c;">
                    <div class="push-10-t push-15">
                        <h1 class="h2 text-white animated zoomIn">Dashboard</h1>
                        <h2 class="h5 text-white-op animated zoomIn">
                        	<div sec:authorize="isAuthenticated()">
								Welcome, <span th:text="*{session.name +' ( '+ session.supplierName + ' )'}">AN Other</span>
							</div>
							<!--div>
								Welcome, A.N Other</span>
							</div-->
                        </h2>
                    </div>
                </div>
                <!-- END Page Header -->
				
				<!-- Stats -->
                <div class="content bg-white border-b">
                    <div class="row items-push text-uppercase">
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">All Contracts</div>
                            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="#" th:text="${contractCount}">0</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">Pending Deliveries</div>
                            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="#">0</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">Contracts Lapsing</div>
                            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> This Month</small></div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="#">0</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">Contracts Midterm</div>
                            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Today</small></div>
                            <a class="h2 font-w300 text-primary animated flipInX" href="base_comp_charts.html">0</a>
                        </div>
                    </div>
                </div>
                <!-- END Stats -->
               
                <!-- Page Content -->
                <div class="content">                	                  
					<div class="row">
                        <div class="col-lg-8">
                            <!-- Active Contracts Table -->
                            <div class="block">
								<div class="block-header">
                                    <div class="block-options">
                                        <!--code>.table-header-bg</code-->
                                    </div>
                                    <h3 class="block-title">Active Contracts</h3>
                                </div>                                
                                <div class="block-content">
									<table class="table table-striped table-borderless table-header-bg">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 50px;">#</th>
                                                <th>Contract#</th>
                                                <th class="hidden-xs" style="width: 25%;">Date</th>
                                                <th class="text-center" style="width: 100px;">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="c, counter:${contracts}">
                                                <td class="text-center" th:text="${counter.count}">1</td>
                                                <td th:text="${c.contractNo}">CN00001/07/2024</td>
                                                <td class="hidden-xs">
													01, Jul 2024
                                                </td>
                                                <td class="text-center">
                                                    <div class="btn-group">
														<a th:href="@{/contracts/view(id=${c.id})}" class="btn btn-xs btn-danger" type="button" data-toggle="tooltip" title="View Details">
															 <i class="si si-info"></i> View
														 </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
								</div>
                                <div class="block-content text-center">
                                    <div class="row items-push text-center">
                                        <div class="col-xs-6 col-lg-4">
                                            <div class="push-10"><i class="si si-graph fa-2x"></i></div>
                                            <div class="h5 font-w300 text-muted">+ 205 Products</div>
                                        </div>
                                        <div class="col-xs-6 col-lg-4">
                                            <div class="push-10"><i class="fa fa-truck fa-2x"></i></div>
                                            <div class="h5 font-w300 text-muted">+ 25 Deliveries</div>
                                        </div>
                                        <div class="col-xs-6 col-lg-4 visible-lg">
                                            <div class="push-10"><i class="si si-star fa-2x"></i></div>
                                            <div class="h5 font-w300 text-muted">+ 10 Ratings</div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                            <!-- END Active Contracts Table -->
                        </div>
                        <div class="col-lg-4">
                            <!-- Latest Sales Widget -->
                            <div class="block">
                                <div class="block-header">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title">Latest Deliveries</h3>
                                </div>
                                <div class="block-content bg-gray-lighter">
                                    <div class="row items-push">
                                        <div class="col-xs-6">
                                            <div class="text-muted"><small><i class="si si-calendar"></i> 24 hrs</small></div>
                                            <div class="font-w600">0 Deliveries</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="text-muted"><small><i class="si si-calendar"></i> 7 days</small></div>
                                            <div class="font-w600">7 Deliveries</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-content">
                                    <div class="pull-t pull-r-l">
                                        <!-- Slick slider (.js-slider class is initialized in App() -> uiHelperSlick()) -->
                                        <!-- For more info and examples you can check out http://kenwheeler.github.io/slick/ -->
                                        <div class="js-slider remove-margin-b" data-slider-autoplay="true" data-slider-autoplay-speed="2500">
                                            <div>
                                                <table class="table remove-margin-b font-s13">
                                                    <tbody>
                                                        <tr>
                                                            <td class="font-w600">
                                                                <a href="#">Delivery #1</a>
                                                            </td>
                                                            <td class="hidden-xs text-muted text-right" style="width: 140px;">9th, JUL 24</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-w600"><a href="javascript:void(0)">Delivery #1</a></td>
                                                            <td class="hidden-xs text-muted text-right">15th, JUL 24</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-w600"><a href="javascript:void(0)">Delivery #1</a></td>
                                                            <td class="hidden-xs text-muted text-right">22nd, Jul 24</td>
                                                        </tr>                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- END Slick slider -->
                                    </div>
                                </div>
                            </div>
                            <!-- END Latest Sales Widget -->
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->
			
            <!-- Footer -->
            <div th:replace="~{fragments/footer::content}"></div>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        
        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src="../assets/js/core/jquery.min.js"></script>
        <script src="../assets/js/core/bootstrap.min.js"></script>
        <script src="../assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="../assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="../assets/js/core/jquery.appear.min.js"></script>
        <script src="../assets/js/core/jquery.countTo.min.js"></script>
        <script src="../assets/js/core/jquery.placeholder.min.js"></script>
        <script src="../assets/js/core/js.cookie.min.js"></script>
        <script src="../assets/js/app.js"></script>

        <!-- Page JS Plugins -->
        <script src="../assets/js/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
        <script src="../assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>

        <!-- Page JS Code -->
        <script src="../assets/js/pages/base_forms_wizard.js"></script>        
    </body>
</html>