<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html class="no-focus" xmlns:th="http://www.thymeleaf.org" lang="en"> 
<!--<![endif]-->
    <head>
        <meta charset="utf-8">

 		<!--  -->
        <!--meta th:name="_csrf" th:content="${_csrf.token}"/>
		<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/-->
	    <!-- ... -->
	    
        <title>Supplier Registration Portal - View LOC</title>

        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="../assets/img/favicons/favicon.png">

        <link rel="icon" type="image/png" href="../assets/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../assets/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../assets/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="../assets/img/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="../assets/img/favicons/favicon-192x192.png" sizes="192x192">

        <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
		<!--Start fontawesome css-->
		<link href="../assets/css/fontawesome.css" rel="stylesheet" />
		<link href="../assets/css/brands.css" rel="stylesheet" />
		<link href="../assets/css/solid.css" rel="stylesheet" />
		<!--End fontawesome css-->
        
		<!-- Page JS Plugins CSS -->
		<link rel="stylesheet" href="../assets/js/plugins/datatables/jquery.dataTables.min.css">	
        <!-- OneUI CSS framework -->
        <link rel="stylesheet" id="css-main" href="../assets/css/oneui.css">

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <link rel="stylesheet" id="css-theme" href="../assets/css/themes/city.min.css"> 
        <!-- END Stylesheets -->
    </head>
    <body>
        <!-- Page Container -->
        
        <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
            <!-- Side Overlay-->
            
            <!-- END Side Overlay -->

            <!-- Sidebar -->
            <div th:replace="~{fragments/sidebar::sidebar}"></div>
            <!-- END Sidebar -->

            <!-- Header -->
            <div th:replace="~{fragments/header::content}"></div>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Header -->
                <div class="content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-sm-7">
                            <h1 class="page-heading">
                                LOC <small>View LOC details.</small>
                            </h1>
                        </div>
                        <div class="col-sm-5 text-right hidden-xs">
                            <ol class="breadcrumb push-10-t">
                                <li><a class="link-effect" th:href="@{/dashboard}">Dashboard</a> </li>
								<li><a class="link-effect" th:href="@{/loc/index}">LOC</a> </li>
                                <li>View</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END Page Header -->			
                <!-- Page Content -->
                <div class="content">                	                  
					<!-- Contract Table -->
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title"><span th:text="${loc.locNumber}"></span> <small>Details</small></h3>
                        </div>
                        <div class="block-content">
                            <div class="row">
								<div class="col-md-4">
									<div><small class="text-bold"><strong>Contract No</strong></small></div>
									<div><small class="text-muted" th:text="${loc.contractNo}">Contract No</small></div>
								</div>
								<div class="col-md-4">
									<div><small class="text-bold"><strong>Issue Date</strong></small></div>
									<div><small class="text-muted" th:text="${#temporals.format(loc.locIssueDate,'MMMM dd, yyyy')}">Issue Date</small></div>
								</div>
								<div class="col-md-4">
									<div><small class="text-bold"><strong>Status</strong></small></div>
									<div><small class="label label-info" th:text="${loc.status}">Status</small></div>
								</div>
							</div>
							<hr class="push-10-t push-10">
                        </div>
                    </div>
                    <!-- END Contract Table -->
					
					<!-- Start Tabs -->
				    <div class="block block-themed block-rounded">
				       <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs">
				           <li class="active">
				               <a href="#btabs-animated-slideright-products"><i class="fa fa-cubes"></i> Products</a>
				           </li>
				           <li>
				               <a href="#btabs-animated-slideright-documentation"><i class="fa fa-folder-open"></i> Documents</a>
				           </li>
				       </ul>
				       <div class="block-content tab-content">
							<!-- Start Products Tab -->
				           	<div class="tab-pane fade fade-right in active" id="btabs-animated-slideright-products">
				            	<table class="table table-condensed">
				                    <thead>
				                        <tr>
				                            <th class="text-center" style="width: 5%;">#</th>
				                            <th class="font-s13">Serial No./BWP Value</th>
				                            <th class="font-s13">Unit/Unit Price</th>
											<th class="font-s13">Total Cost/CUR</th>
											<th class="font-s13">SKU Code/Type</th>
				                            <th class="font-s13">Description</th>
				                        </tr>
				                    </thead>
				                    <tbody>
				                        <tr th:each="d,counter :${products}">
				                            <td class="text-center font-s12" th:text="${counter.count}">1</td>
				                            <td>
				                            	<div>
				                            		<span class="font-s12" th:text="${d.serialNumber}"></span>
				                            	</div>
				                            	<small class="text-muted font-s12" th:text="${#numbers.formatDecimal(d.totalBwpValue,0,'COMMA',2,'POINT') }"></small>
				                            </td>
				                            <td>
												<div>
													<span class="font-s12" th:text="${d.unit}"></span>
												</div>
												<span class="text-muted font-s12" th:text="${d.unitPrice}"></span>
											</td>
											<td>
												<div>
													<span class="font-s12" th:text="${#numbers.formatDecimal( d.totalProductCost,0, 'COMMA',2, 'POINT')}"></span>
												</div>
												<span class="text-muted font-s12" th:text="${d.currency}"></span>
											</td>
											<td>
												<div>
													<span class="font-s12" th:text="${d.skuCode}"></span>
												</div>
												<span class="text-muted font-s12" th:text="${d.skuType}"></span>
											</td>
				                            <td class="font-s12" th:text="${d.description}"></td>
				                        </tr>                                            
				                    </tbody>
				                </table>
				           	</div>
				           	<!-- End Products Tab -->
						   	<!-- Start Documents Tab -->
				           	<div class="tab-pane fade fade-right" id="btabs-animated-slideright-documentation">
				               <table class="table table-condensed">
				                    <thead>
				                        <tr>
				                            <th class="text-center" style="width: 5%;">#</th>
				                            <th class="font-s13">Name</th>
				                            <th class="font-s13">Size</th>
				                            <th class="text-center" style="width: 10%;">Actions</th>
				                        </tr>
				                    </thead>
				                    <tbody>
				                        <tr th:each="d,counter :${documents}">
				                            <td class="text-center font-s12" th:text="${counter.index + 1}">1</td>
				                            <td class="font-w300" >
												<i th:classappend="${d.icon}"></i> <span th:text="${d.name}"></span>
											</td>
				                            <td class="font-s12" th:text="${#numbers.formatDecimal(d.size, 0,'COMMA',0,'POINT') + ' MB'}"></td>
				                            <td class="text-center">
												<div class="btn-group">
				                                	<a th:href ="@{/loc/download(id=${d.id},mime=${d.mimeType})}" class="btn btn-xs btn-info" type="button" data-toggle="tooltip" title="Download" target="_blank"><i class="fa fa-download"></i></a>
				                                </div>
				                            </td>
				                        </tr>                                            
				                    </tbody>
				                </table>
				           	</div>
						   	<!-- End Documents Tab -->
				       	</div>
				    </div>
					<!-- End Tabs -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->
            <!-- Footer -->
            <div th:replace="~{fragments/footer::content}"></div>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        
        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src="../assets/js/core/jquery.min.js"></script>
        <script src="../assets/js/core/bootstrap.min.js"></script>
        <script src="../assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="../assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="../assets/js/core/jquery.appear.min.js"></script>
        <script src="../assets/js/core/jquery.countTo.min.js"></script>
        <script src="../assets/js/core/jquery.placeholder.min.js"></script>
        <script src="../assets/js/core/js.cookie.min.js"></script>
        <script src="../assets/js/app.js"></script>

		<!-- Page JS Plugins -->
        <script src="../assets/js/plugins/datatables/jquery.dataTables.min.js"></script>

        <!-- Page JS Code -->
        <script src="../assets/js/pages/base_tables_datatables.js"></script>       
    </body>
</html>